<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>vzi.apple.bootpd-hotspot-merge</string>
    <key>ProgramArguments</key>
    <array>
        <string>/var/jb/usr/bin/python3</string>
        <string>/var/jb/usr/libexec/VirtualMac/bootpd-hotspot-merge.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WatchPaths</key>
    <array>
        <string>/tmp/bootpd.plist</string>
        <string>/Library/Preferences/SystemConfiguration/bootpd.plist</string>
    </array>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>/tmp/bootpd-hotspot-merge.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/bootpd-hotspot-merge.err</string>
</dict>
</plist>
